@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

/*@import url('../bower_components/normalize-scss/_normalize-scss');*/

@import '../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';


* {
	box-sizing: border-box; 
}

$red-color: #D20019;
$grey-color: #E2E2E2;
$grey-soft-color: #F3F3F3;

body {
	padding: 0;
	margin: 0;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #383838;
	background-color: $grey-soft-color; 

	.close-button {
	    position: absolute;
	    background-color: $red-color;
        right: 0;
    	top: 0;
	}
	
	.header{
		margin: 0 0 10px 0;
	    background-color: $grey-color;
        padding: 0 20px 20px 20px;
        position: relative;
		    
	    .header-title {
	    	background-color: #fff;

	    	h1 {
			    font-size: 20px;
			    text-align: center;
			    margin: 0;
			    padding: 10px;
			}
		}
	}

	.map{
		margin: 0 0 10px 0;
		position: relative;
	    img.layer{
			position: absolute;
		    top: 0;
    		left: 0;
    		display: none;
	    }
	}
	/*TIMELINE*/
	.timeline{
		position: absolute;
		height: 100px;
		bottom: 19px;

		div#arrow-left{
		    background: url("../images/controls2.png") 0px -22px;
		    width: 95px;
		    height: 95px;
		    display: inline-block;
	        cursor: pointer;
		}
		div#line{
			height: 95px;
			display: inline-block;
			background-color: $grey-color;
			#line-back{
				
				width: 100%;
				float: left;
				.line-dates{
					.date {
					    float: left;
					    margin: 0 5%;
					    cursor: pointer;
					}
				}
			}
			#current-date{}
		}
		div#arrow-right{
	        background: url("../images/controls2.png") 200px -22px;
		    width: 95px;
		    height: 95px;
		    display: inline-block;
	        cursor: pointer;		
		}
	}
}

@media (min-width: 1279px) {
  .container-fluid {
    width: 1279px;
  }
}

